body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Canela Light';
  background: #F3F1EA;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
  width: 40%;
  max-width: 200px;
}

.logo img {
  width: 100%;
  height: auto;
}


.subtitle {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin: 10px 0 20px 0;
  margin-top: 1vh;
  margin-bottom: 2vh;
}


.image-container {
  position: relative;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image-container img {
  width: 100%;
  aspect-ratio: 3 / 2; 
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  object-fit: cover;
  object-position: center 35%;
}



.overlay {
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 1.2vh;
  width: 90%;
  max-width: 630px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.25);
  position: absolute;
  bottom: -20vh;
}


h1 {
  font-size: clamp(18px, 2vw, 22px);
  margin: 10px 0;
}

h2 {
  font-size: clamp(14px, 1.5vw, 16px);
  margin: 8px 0;
}

p {
  font-size: clamp(12px, 1.5vw, 14px);
  line-height: 1.5;
  margin: 8px 0;
}

button {
  border-radius: 10px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
  padding: 10px 20px;
  cursor: pointer;            
  font-size: clamp(12px, 1vw, 14px);
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0px 6px 16px rgba(0,0,0,0.35);
  transform: translateY(-2px);
}


@media (max-width: 820px) {
  .overlay {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    bottom: -10vh;
  }
  

    .image-container {
    width: 100%;
    max-width: none;
    margin-top: 6vh;
  }

  .image-container img {
    width: 100%;
    border-radius: 0;
    display: block;
  }
}


@media (max-width: 500px) {

  .image-container {
    width: 100%;
    max-width: none;
  }

  .image-container img {
    width: 100%;
    border-radius: 0;
    aspect-ratio: 3/2;
    display: block;
  }

  .overlay {
    position:relative;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 14px;
    box-sizing: border-box;
    bottom: 0vh;
  }

  button {
    width: 30%;
  }

  .logo {
    width: 50%;
    margin: 3vh auto 4vh;
  }

  .subtitle {
    margin: 2vh auto 5vh;
    font-size: clamp(2.5rem, 10vw, 4rem);
  }
}
