/* Фон всей страницы */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Canela Light';
  background: #F3F1EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}




/* Логотип */
.logo {
  margin-top:4vh;
  text-align: center;
  width: 40%;
  max-width: 300px;
  
 
}

.logo img{
  width:50%;
  height:auto;
}

.subtitle {
  text-align: center;
  font-size: clamp(1.8rem, 5vw, 3rem); 
  margin-bottom: 6vh;
  margin-top:4vh;
}


/* Контейнер колеса */
.wheel-wrapper {
  width: 60vw;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  position: relative;
  margin-bottom: 30vh;
  margin-top: auto;
  flex-shrink: 0;
}


/* Белый круг за колесом */
.back-circle {
  position: absolute;
  inset: -2%;
  background-color: #fff;
  border-radius: 50%;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
  z-index: 0;
}

/* SVG колесо */
.wheel {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

/* Цвета секторов */
.sector-1 { fill: #9E8184; }
.sector-2 { fill: #3E030A; }
.sector-3 { fill: rgb(110, 66, 71); }
.sector-4 { fill: #9E8184; }
.sector-5 { fill: #3E030A; }
.sector-6 { fill: #6E4247; }
.sector-7 { fill: #9E8184; }
.sector-8 { fill: #3E030A; }
.sector-9 { fill: #6E4247; }
.sector-10 { fill: #9E8184; }
.sector-11 { fill: #3E030A; }
.sector-12 { fill: #6E4247; }



/* Текст секторов */
.sector-text {
  font-family: 'Canela Light';
  font-size: 30px;
  transform: rotate(90deg);
  transform-origin: 210px 0px;
}

.icon {
  height:100px;
  width:80px;
  transform: rotate(90deg);
  transform-origin: 200px 0px;
}

/* Цвет текста */
.sector-1 .sector-text { fill: #E8C5CB; }
.sector-2 .sector-text { fill: #E8C5CB; }
.sector-3 .sector-text { fill: #FF8771; }
.sector-4 .sector-text { fill: #E8C5CB; }
.sector-5 .sector-text { fill: #E8C5CB; }
.sector-6 .sector-text { fill: #FF8771; }
.sector-7 .sector-text { fill: #E8C5CB; }
.sector-8 .sector-text { fill: #E8C5CB; }
.sector-9 .sector-text { fill: #FF8771; }
.sector-10 .sector-text { fill: #E8C5CB; }
.sector-11 .sector-text { fill: #E8C5CB; }
.sector-12 .sector-text { fill: #FF8771; }

/* Центр круга */
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;  
  height: 20%;
  background-color: #FF8771;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 4vw, 1.5rem); 
  text-align: center;
  z-index: 2;
}

.arrow {
    position: absolute;
    top: 19%;         
    left: 58.75%;       
    transform: translateX(-50%);
    width: 22.5%;       
    height: auto;     
    z-index: 3;
}
.arrow {
  position: absolute;
  top: 0;                 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 15%;            
  height: auto;
  z-index: 3;
}

.arrow img {
  width: 100%;
  height: auto;
  display: block;
}



.active {
  animation: pulse-hover 1s infinite ease-in-out;
  position: relative;
 
}

@keyframes pulse-hover {
  0%, 100% { opacity: 0.5; }
  20% { opacity: 0.8; } 
}



@keyframes centerPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    
  }
}


.center-circle.pulse {
  animation: centerPulse 1.6s infinite;
}

@media (max-width: 834px) {
  .logo { width: 60%; max-width: 350px; margin-bottom: 1rem; }
  .subtitle { font-size: clamp(1.8rem, 8vw, 4rem); margin-bottom: 3rem; }
  .wheel-wrapper { width: 90vw; max-width: 550px; }
  
}

@media (max-width: 480px) {
  .logo { width: 70%; max-width: 320px; margin-bottom: 1rem; }
  .subtitle { font-size: clamp(1.5rem, 10vw, 4rem); margin-bottom: 1.5rem; }
  .wheel-wrapper { width: 80vw; max-width: 400px; }
  
}
